<div id="logreg-forms">
    <form class="form-signin" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in
                    with Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in
                    with Google+</span> </button>
        </div>
        <p style="text-align:center"> OR </p>
        <div class="form-group">
            <input type="text" class="form-control" name="userName" [(ngModel)]="login.userName" #userName="ngModel"
                placeholder="Email address" [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required
                email />
            <div *ngIf="f.submitted && userName.invalid" class="invalid-feedback">
                <div *ngIf="userName.errors.required">Email is required</div>
                <div *ngIf="userName.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password"
                [(ngModel)]="login.password" #password="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>

        <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
        <a href="#" id="forgot_pswd">Forgot password?</a>
        <hr>
        <!-- <p>Don't have an account!</p>  -->
        <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up
            New Account</button>
    </form>

    <!-- <form action="/reset/password/" class="form-reset">
            <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
        </form> -->

    <!-- <form action="/signup/" class="form-signup">
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
            </div>
            <div class="social-login">
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
            </div>
            
            <p style="text-align:center">OR</p>

            <input type="text" id="user-name" class="form-control" placeholder="Full name" required="" autofocus="">
            <input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
            <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
            <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="">

            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
        </form> -->
    <br>

</div>

<!-- <input type="text" [(ngModel)]="user.name" name="userName" #userName="ngModel" />
<button type="Submit" (click)="ClickMe()">Click</button>
<app-child [user]="user" [myName]="myName" [tempRef]="child1"></app-child>
<app-child1 (callEvent)="getName($event)" #child1></app-child1> -->